html,body {
  font-family: "Liberation Mono", monospace;
  font-size: 12pt;
  color:#7e7e7e;
  height:100%;
  padding:0pt;
  margin:0pt;
  background-color: #F1EDE5;
}

a {
  color: rgb(40,55,255)
}

.page {
  display: block;
  height:100%;
  width: 100%;
  margin:0pt;
  padding:0pt;
}
.page.dark {
  background: #202022
}
.page.light {
  background: #EDE7E1;
}


.container {
  max-width: 600pt;
  margin:0 auto;
  height:100%;
}
.flex-container {
  max-width: 600pt;
  display:flex;
  flex-direction: row;
  margin:0 auto;
  height:100%;
  align-items: center;
  justify-content: center;
}
.flex-container.col {
  flex-direction: column;
}
/* First Page - intro */
.title {
  display: flex;
  flex-direction: column;
  height:72pt;
  align-items: stretch;
  justify-content: space-around;
}
.title h2 {
  background: green
  padding:2pt;
  margin:0pt;
  line-height:16pt;
  font-size: 16pt;
  text-align: left;
  margin-left:6pt;
}
.title p {
  background: grey
  padding:2pt;
  margin:0pt;
  line-height:9pt;
  font-size: 9pt;
  text-align: left;
  margin-left:6pt;
}
.download {
  background:#7e7e7e;
  color:#F1EDE5;
  border-style: none;
  border-width: 0.5pt;
  border-color: #F1EDE5;
  border-radius: 1.5pt;
  text-decoration: none;
  font-size: 10pt;
  margin-left:6pt;
  padding:3pt;
  width: 96pt;
}

/* Second page - features */
.features-row {
  border-style: solid;
  border-width: 0pt;
  border-left-width: .5pt;
  border-color: #404040;
  flex:1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.feature {
  border-style: solid;
  border-color:#404040;
  border-width:0pt;
  border-right-width: .5pt;
  border-bottom-width: .5pt;
  flex:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature .icon {
  height:128px;
  margin:0pt;
  padding:0pt;
  display: flex;
  align-items: center;

}
.feature .icon img {
  margin: 0 auto;
}
.feature h2 {
  font-size: 12pt;
  line-height: 12pt;
  text-align: center;
  padding:0pt;
  margin:0pt;
}
.feature p {
  font-size: 9pt;
  line-height: 9pt;
  text-align: center;
  max-width: 230pt;
}
